site_name: PyRetailScience
site_url: https://pyretailscience.datasimply.co
repo_url: https://github.com/Data-Simply/pyretailscience
repo_name: Data-Simply/pyretailscience
use_directory_urls: true

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting_started/installation.md
  - Analysis Modules:
      - analysis_modules.md
  - Examples:
      - Customer Retention: examples/retention.ipynb
      - Gain Loss Analysis: examples/gain_loss.ipynb
      - Cross Shop Analysis: examples/cross_shop.ipynb
      - Segmentation: examples/segmentation.ipynb
      - Product Association: examples/product_association.ipynb
      - Revenue Tree: examples/revenue_tree.ipynb
  - Reference:
      - Options: api/options.md
      - Analysis:
          - Cohort Analysis: api/analysis/cohort.md
          - Cross Shop Analysis: api/analysis/cross_shop.md
          - Customer Retention: api/analysis/customer.md
          - Gain Loss: api/analysis/gain_loss.md
          - Haversine Distance: api/analysis/haversine.md
          - Product Association: api/analysis/product_association.md
          - Customer Decision Hierarchy: api/analysis/customer_decision_hierarchy.md
          - Revenue Tree: api/analysis/revenue_tree.md
          - Composite Rank: api/analysis/composite_rank.md
      - Segmentation:
          - Base Segmentation: api/segmentation/base.md
          - HML Segmentation: api/segmentation/hml.md
          - RFM Segmentation: api/segmentation/rfm.md
          - SegTransactionStats Segmentation: api/segmentation/segstats.md
          - Threshold Segmentation: api/segmentation/threshold.md
      - Plots:
          - Area Plot: api/plots/area.md
          - Bar Plot: api/plots/bar.md
          - Cohort Plot: api/plots/cohort.md
          - Histogram Plot: api/plots/histogram.md
          - Index Plot: api/plots/index.md
          - Line Plot: api/plots/line.md
          - Period On Period Plot: api/plots/period_on_period.md
          - Scatter Plot: api/plots/scatter.md
          - Time Plot: api/plots/time.md
          - Venn Diagram: api/plots/venn.md
          - Waterfall Plot: api/plots/waterfall.md
          - Style:
              - Graph Utils: api/plots/style/graph_utils.md
              - Tailwind Colors: api/plots/style/tailwind.md
      - Utils:
          - Date Utils: api/utils/date.md
          - Columns Utils: api/utils/columns.md
          - Filter & Label Utils: api/utils/filter_and_label.md
  - Versions:
      - versions.md

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.code.annotation
    - content.code.copy
    - content.tabs.link
    - navigation.footer
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.suggest
    - toc.integrate
    - navigation.tabs.sticky
    - navigation.tracking
    - header.autohide
    - versioning
    - navigation.instant

  language: en
  palette:
    primary: custom
  font:
    text: Poppins
    code: Roboto Mono
  logo: assets/images/logo-white.svg
  favicon: assets/images/logo.svg
extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mkdocstrings
  - autorefs
  - mkdocs-jupyter
  - mike:
      version_selector: true
      canonical_version: latest

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  analytics:
    provider: google
    property: G-7S7YSNJ82W
  consent:
    actions:
      - accept
      - manage
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  scope: "/"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Data-Simply/pyretailscience
      name: PyRetailScience on GitHub
  version:
    provider: mike
    default: latest
  generator: true

copyright: |
  &copy; 2025 <a href="https://datasimply.co"  target="_blank" rel="noopener">Murray Vanwyk</a> -
  <a href="#__consent">Change cookie settings</a>
