name: PySpark Integration Tests

on:
  workflow_dispatch:
    inputs:
      test_suite:
        type: choice
        description: Test Suite to Run
        default: "all"
        options:
          - all
          - cohort_analysis
          - composite_rank
          - cross_shop
          - customer_decision_hierarchy
          - date
          - filter_and_label
          - haversine
          - hml_segmentation
          - product_association
          - revenue_tree
          - rfm_segmentation
          - segstats_segmentation
          - threshold_segmentation

permissions:
  contents: read

concurrency:
  group: "pyspark-tests"
  cancel-in-progress: true

jobs:
  integration-tests:
    name: Run PySpark Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv Package
        run: |
          pip install --upgrade pip
          pip install uv==0.5.30

      - name: Install Dependencies
        run: |
          uv sync

      - name: Run Integration Tests
        env:
          TEST_SUITE: ${{ inputs.test_suite }}
        run: |
          if [ "$TEST_SUITE" == "all" ]; then
            uv run pytest tests/integration -k "pyspark" -v
          else
            uv run pytest tests/integration -k "pyspark and $TEST_SUITE" -v
          fi
